<div class="panel-header panel-header-lg">
    <canvas baseChart id="bigDashboardChart"
                [datasets]="lineBigDashboardChartData"
                [labels]="lineBigDashboardChartLabels"
                 [colors]="lineBigDashboardChartColors"
                [options]="lineBigDashboardChartOptions"
                [chartType]="lineBigDashboardChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-4">
      <div class="card  card-tasks" (click)="navigateToRoute('claims')">
        <div class="card-header ">
          <h4 class="card-title">CLAIMS</h4>
        </div>
        <div class="card-body ">
          <div class="big-number">{{ docData?.claims }}</div>
        </div>
        <div class="card-footer">
          <div class="stats" *ngIf="justUpdated">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
          <div class="stats" *ngIf="!justUpdated">
            <i class="now-ui-icons loader_refresh spin"></i> Updating
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card  card-tasks" (click)="navigateToRoute('application')">
        <div class="card-header ">
          <h4 class="card-title">NEW APPLICATIONS</h4>
        </div>
        <div class="card-body ">
          <div class="big-number">{{ docData?.application }}</div>
        </div>
        <div class="card-footer">
          <div class="stats" *ngIf="justUpdated">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
          <div class="stats" *ngIf="!justUpdated">
            <i class="now-ui-icons loader_refresh spin"></i> Updating
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card  card-tasks" (click)="navigateToRoute('survey')">
        <div class="card-header ">
          <h4 class="card-title">SURVEYS</h4>
        </div>
        <div class="card-body ">
          <div class="big-number">{{ docData?.survey }}</div>
        </div>
        <div class="card-footer">
          <div class="stats" *ngIf="justUpdated">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
          <div class="stats" *ngIf="!justUpdated">
            <i class="now-ui-icons loader_refresh spin"></i> Updating
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <!-- <h5 class="card-category">Global Sales</h5> -->
          <h4 class="card-title">Day</h4>
          <!-- <div ngbDropdown>
            <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
              <i class="now-ui-icons loader_gear"></i>
            </button>
            <div ngbDropdownMenu class="dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item text-danger" href="#">Remove Data</a>
            </div>
          </div> -->
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas baseChart #lineChartExample id="lineChartExample"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [colors]="lineChartColors"
                        [options]="lineChartWithNumbersAndGridOptions"
                        [chartType]="lineChartGradientsNumbersType  "
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <!-- <h5 class="card-category">2018 Sales</h5> -->
          <h4 class="card-title">Week</h4>
          <!-- <div ngbDropdown>
            <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
              <i class="now-ui-icons loader_gear"></i>
            </button>
            <div ngbDropdownMenu class="dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item text-danger" href="#">Remove Data</a>
            </div>
          </div> -->
        </div>
        <div class="card-body">
          <div class="chart-area">
            <!-- <canvas id="lineChartExampleWithNumbersAndGrid"></canvas> -->
            <canvas baseChart #lineChartExampleWithNumbersAndGrid id="lineChartExampleWithNumbersAndGrid"
                        [datasets]="lineChartWithNumbersAndGridData"
                        [labels]="lineChartWithNumbersAndGridLabels"
                        [colors]="lineChartWithNumbersAndGridColors"
                        [options]="lineChartWithNumbersAndGridOptions"
                        [chartType]="lineChartGradientsNumbersType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <!-- <h5 class="card-category">Email Statistics</h5> -->
          <h4 class="card-title">Month</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas baseChart #barChartSimpleGradientsNumbers id="barChartSimpleGradientsNumbers"
                        [datasets]="lineChartGradientsNumbersData"
                        [labels]="lineChartGradientsNumbersLabels"
                        [colors]="lineChartGradientsNumbersColors"
                        [options]="lineChartGradientsNumbersOptions"
                        [chartType]="lineChartGradientsNumbersType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons ui-2_time-alarm"></i> Last 30 days
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
