.big-number {
  font-weight: bold;
  font-size: 100px;
  text-align: center;
}

.card-title {
  text-align: center;
  font-weight: bold;
  border-bottom: 10px solid #00a758;
}

.card-tasks {
  cursor: pointer;
}
