<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">

      <div class="card" *ngIf="docType === 'claims'">
        <div class="card-header">
          <h4 class="card-title"> Documents Table ({{ docType | uppercase }})</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead class=" text-primary">
                <tr>
                  <th>Policy No.</th>
                  <th>Policy Holder</th>
                  <th>Date Received</th>
                  <th>Amount</th>
                  <th class="text-right">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of list" (click)="navigateToDetails(item.policyNo)" class="clickable-tr">
                  <td>{{ item.policyNo }}</td>
                  <td>{{ item.policyHolder }}</td>
                  <td>{{ item.dateReceived }}</td>
                  <td>{{ item.amount | currency }}</td>
                  <td class="text-right">{{ item.status }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="card" *ngIf="docType === 'application'">
        <div class="card-header">
          <h4 class="card-title"> Documents Table ({{ docType | uppercase }})</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead class=" text-primary">
                <tr>
                  <th>Branch</th>
                  <th>Name</th>
                  <th>Insurance Type</th>
                  <th>Amount</th>
                  <th>Date Received</th>
                  <th class="text-right">Indexing Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of list" (click)="navigateToDetails(item.id)" class="clickable-tr">
                  <td>{{ item.branch }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.insuranceType }}</td>
                  <td>{{ item.amount | currency }}</td>
                  <td>{{ item.dateReceived }}</td>
                  <td class="text-right">{{ item.status }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
