<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Document View ({{ id }})</h5>
        </div>
        <div class="card-body">
          <img src="{{ pdf }}" />
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <!-- <div class="image">
          <img src="../assets/img/bg5.jpg" alt="...">
        </div> -->
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label>Policy No.</label>
                <input class="form-control" placeholder="policyNo" type="text" value="" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label>Policy Holder</label>
                <input class="form-control" placeholder="policyHolder" type="text" value="" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label>Amount</label>
                <input class="form-control" placeholder="amount" type="text" value="" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 pr-1" align="center">
              <button type="button" class="btn btn-primary btn-lg">Submit</button>
            </div>
          </div>
          <!-- <div class="author">
            <a href="#">
              <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="...">
              <h5 class="title">Mike Andrew</h5>
            </a>
            <p class="description">
              michael24
            </p>
          </div>
          <p class="description text-center">
            "Lamborghini Mercy
            <br> Your chick she so thirsty
            <br> I'm in that two seat Lambo"
          </p> -->
        </div>
        <!-- <hr> -->
        <!-- <div class="button-container">
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-twitter"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-google-plus-g"></i>
          </button>
        </div> -->
      </div>
    </div>
  </div>
</div>
